@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info" style="justify-content: center;">
            <div class="col-md-6 block-9 mb-md-5" style="text-align:center;">
                <form id="signUpForm" class="bg-light p-5 contact-form">
                    @Html.AntiForgeryToken()
                    <div style="text-align:center">
                        <h4>Kayıt Ol</h4>
                    </div>
                    <div class="form-group">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <input type="text" id="Surname" name="Surname" class="form-control" placeholder="Soyad">
                    </div>
                    <div class="form-group">
                        <input type="text" id="Email" name="Email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Şifre">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-info py-3 px-5" onclick="Auth.SignUp()" style="color:white">Hesap Oluştur</a>
                    </div>
                </form>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</section>
<script src="~/js/pages/auth.js"></script>