@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    ViewData["Title"] = "_GetCategoryList";
    var jsVersion = config["AppConfig:JsCacheVersion"];
}
<div class="row g-3 mb-3">
    <div class="col-sm-7">
        <label for="exampleInputEmail1" class="form-label">Kategori Adı</label>
        <input type="text" class="form-control searchInput" id="CategoryNameSearch" aria-describedby="emailHelp">
    </div>
    <div class="col-sm">
        <label for="exampleInputEmail1" class="form-label">Filtre</label>
        <br>
        <a onclick="Category.CategoryFilter()" class="btn btn-primary btn-label searchButton" style="color:white"><i class="bx bx-search-alt label-icon align-middle fs-16 me-2"></i>Ara</a>
    </div>
</div>
<div class="col-md-12">


    <div class="button-wrapper">
        <button class="btn btn-success btn-label" onclick="Category.GetCategory('@Guid.Empty')" style="float:right;margin-bottom:15px"><i class="bx bx-plus label-icon align-middle fs-16 me-2"></i>Kategori Ekle</button>

    </div>


</div>



<table id="CategoryTable" class="table nowrap align-middle dataTable no-footer" style="width:100%">
    <thead>
        <tr>
            <th>Kategori Adı</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="/js/pages/category.js?v=@jsVersion"></script>
@section Scripts{
    <script>
        Category.GetCategoryList();
    </script>

}